@import "reset";
@import "variable";
@import "mixin";
@import "component";

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $light-blue;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $primary-tosca;
}

body {
  background-color: $primary-blue;
  color: $primary-white;
  min-height: 100vh;
  position: relative;
  #bg-component {
    overflow: hidden;
    position: absolute;
    z-index: -1;
    height: 100%;
    width: 100%;
    .top-left {
      position: absolute;
      top: 0;
      left: 0;
    }
    .top-middle {
      position: absolute;
      top: 0;
      left: 15px;
    }
    .top-right {
      position: absolute;
      top: 0;
      right: 0;
    }
    .bottom-left {
      position: absolute;
      bottom: -100px;
      left: 0;
    }
    .bottom-right {
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }
}

#menu {
  min-height: 100vh;
  position: sticky;
  top: 0;
  padding: 24px 0;
  display: flex;
  align-items: center;
  @media screen and (max-width: 992px) {
    min-height: fit-content;
    margin: 24px auto;
  }
  .menu {
    padding: 32px 24px;
    @media screen and (max-width: 992px) {
      padding: 24px 16px;
    }
    &-profile {
      max-width: 200px;
      max-height: 200px;
      margin: auto;
    }
    &-fullname {
      @include heading5($light-blue);
    }
    &-jobs {
      @include body2($light-blue);
    }
    &-list {
      @include body1();
    }
  }
}

#content {
  min-height: 100vh;
  padding: 20px 0;
  display: flex;
  align-items: center;
  @media screen and (max-width: 992px) {
    min-height: fit-content;
    margin: 24px auto;
  }
}

.home {
  padding: 64px 32px 32px;
  @media screen and (max-width: 992px) {
    padding: 32px 16px 24px;
  }
  &-title {
    @include heading2($primary-tosca);
  }
  &-desc {
    @include body1($light-blue);
    .desc-highlight {
      @include body1($primary-white);
      display: inline-block;
      padding: 4px 16px;
      box-shadow: $shadow-inner;
      border-radius: 16px;
    }
  }
  &-button {
    @include body1();
  }
}

.about {
  padding: 32px 48px;
  @media screen and (max-width: 768px) {
    padding: 16px 24px;
  }
  &-section {
    @include subtitle1($light-blue);
  }
  &-title {
    @include heading4($primary-tosca);
  }
  &-jobs {
    @include body2($light-blue);
  }
  &-content {
    @include body1($light-blue);
    .content-highlight {
      color: $primary-white;
    }
  }
}

.experiences {
  padding: 32px 48px;
  @media screen and (max-width: 768px) {
    padding: 16px 24px;
  }
  .skills {
    &-section {
      @include subtitle1($light-blue);
    }
    &-list {
      @include body1($primary-white);
    }
  }
  .experience {
    &-section {
      @include subtitle1($light-blue);
    }
    .section-content {
      position: relative;
      margin-left: 18.5px;
      &::before {
        position: absolute;
        content: "";
        height: 100%;
        width: 3px;
        top: 0;
        left: 0;
        box-shadow: $shadow-inner;
        background-color: $primary-blue;
      }
      .content-list {
        padding-left: 16px;
        position: relative;
        &::before {
          position: absolute;
          content: "";
          top: 0;
          left: 0;
          height: 16px;
          width: 3px;
          background-color: $light-blue;
          border-radius: 4px;
          box-shadow: $shadow-outer;
        }
        .list-title {
          @include subtitle1($primary-white);
          text-align: justify;
        }
        .list-date {
          @include body3($primary-tosca);
          .present-highlight {
            box-shadow: $shadow-inner;
            border-radius: 16px;
            padding: 4px 12px;
          }
        }
        .list-place {
          @include body3($light-blue);
        }
      }
    }
  }
}
