@import "reset";
@import "variable";
@import "mixin";
@import "component";

body {
  background-color: $primary-blue;
  color: $primary-white;
  min-height: 100vh;
  position: relative;
  #bg-component {
    overflow: hidden;
    position: absolute;
    z-index: -1;
    height: 100%;
    width: 100%;
    .top-left {
      position: absolute;
      top: 0;
      left: 0;
    }
    .top-middle {
      position: absolute;
      top: 0;
      left: 15px;
    }
    .top-right {
      position: absolute;
      top: 0;
      right: 0;
    }
    .bottom-left {
      position: absolute;
      bottom: -100px;
      left: 0;
    }
    .bottom-right {
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }
}

#menu {
  min-height: 100vh;
  position: sticky;
  display: flex;
  align-items: center;
  @media screen and (max-width: 992px) {
    min-height: fit-content;
    margin: 24px auto;
  }
  .menu {
    padding: 48px 24px;
    @media screen and (max-width: 992px) {
      padding: 24px 16px;
    }
    &-profile {
      max-width: 200px;
      max-height: 200px;
      margin: auto;
    }
    &-fullname {
      @include heading5($light-blue);
    }
    &-jobs {
      @include body2($light-blue);
    }
    &-list {
      @include body1();
    }
  }
}

#content {
  min-height: 100vh;
  position: sticky;
  display: flex;
  align-items: center;
  @media screen and (max-width: 992px) {
    min-height: fit-content;
    margin: 24px auto;
  }
}

.home {
  padding: 64px 32px 32px;
  @media screen and (max-width: 992px) {
    padding: 32px 16px 24px;
  }
  &-title {
    @include heading2($light-blue);
  }
  &-desc {
    @include body1($light-blue);
    .desc-highlight {
      @include body1($primary-white);
      display: inline-block;
      padding: 4px 16px;
      box-shadow: $shadow-inner;
      border-radius: 16px;
    }
  }
  &-button {
    @include body1();
  }
}
